/*
 * Copyright (c) 2024-2025 Henrik Brix Andersen <henrik@brixandersen.dk>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include "../app.overlay"

/ {
	cannectivity: cannectivity {
		compatible = "cannectivity";

		channel0 {
			compatible = "cannectivity-channel";
			can-controller = <&can0>;
			termination-gpios = <&piod 1 GPIO_ACTIVE_HIGH>;
			state-led = <&can_0_ledg>;
			activity-leds = <&can_0_ledy>;
		};

		channel1 {
			compatible = "cannectivity-channel";
			can-controller = <&can1>;
			termination-gpios = <&piod 13 GPIO_ACTIVE_HIGH>;
			state-led = <&can_1_ledg>;
			activity-leds = <&can_1_ledy>;
		};
	};
};

&can0 {
	bosch,mram-cfg = <0x0 1 1 10 10 0 10 10>;
};

&can1 {
	bosch,mram-cfg = <0x0 1 1 10 10 0 10 10>;
};
